.Rhistory
*.Rproj
.Rproj.user/BAD07D95/session-persistent-state
.Rproj.user/BAD07D95/sdb/s-36B9281F/lock_file
.Rproj.user/BAD07D95/sdb/prop/INDEX
.Rproj.user/BAD07D95/sdb/s-36B9281F/A2C3B3F7
.Rproj.user/BAD07D95/sdb/prop/1167A412
.Rproj.user/BAD07D95/sdb/s-36B9281F/B76288C8
.Rproj.user/BAD07D95/cpp-definition-cache
*.pper
.Rproj.user/BAD07D95/sdb/prop/65B341EE
.Rproj.user/BAD07D95/sdb/prop/B2885C03
.Rproj.user/BAD07D95/sdb/per/u/A2C3B3F7
*.RData
.Rproj.user/BAD07D95/rmd-outputs
.Rproj.user/shared/notebooks/paths
.Rproj.user/BAD07D95/sdb/per/t/E9EECB8E
.Rproj.user/BAD07D95/saved_source_markers
.Rproj.user/BAD07D95/sdb/per/t/1E34287
.Rproj.user/BAD07D95/sdb/per/t/3189D9D4
.Rproj.user/BAD07D95/sdb/prop/C49C1BF7
.Rproj.user/BAD07D95/sdb/per/t/1CD9A816